/*======================
    404 page
=======================*/


.page_404 {
    padding: 0;
    background: #fff;
    // font-family: 'Arvo', serif;

    min-height: 100vh;
    width: 100%;
    // background: red;

    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;

    // .container {
    //     display: flex;
    // }

    &-content {
        width: 80%;
        text-align: center;

        // GO HOME
        .link_404 {
            color: #fff !important;
            padding: 10px 20px;
            background: #1890ff; // #39ac31;
            margin: 20px 0;
            display: inline-block;
            text-decoration: none;
        }
    }

    img {
        width: 100%;
    }

    .four_zero_four_bg {
        background-image: url('./../../assets/images/404.gif');
        // background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
        height: 400px;
        background-position: center;

        h1 {
            font-size: 80px;
            text-align: center;
        }
    }
}






.four_zero_four_bg h3 {
    font-size: 80px;
}



.contant_box_404 {
    margin-top: -50px;
}